
.container {
    margin: 100%;
    margin: 0 auto;
    background: #fff;
  }
  
  .menu-flex {
    display: flex;
    justify-content: space-between;
    border: 1px solid green;
    padding: 10px 20px;
    align-items: center;
    flex-wrap: wrap;
   
   
  }
  
  .menu-nav ul{
    display: flex;
    margin: 10px 0;
    
    
  }

  .nav-link a{
    text-decoration: none;
      margin: 10px;
      background: #ccc;
      color: #000000;
  }

  .active{
      background: red;
  }