.logo{
  width: 160px;
  height: 80px;
}
.container {
    margin: 100%;
    margin: 0 auto;
    background: #fff;
  }
  
  .menu-flex {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    flex-wrap: wrap;
   
   
  }
  
  .menu-nav ul{
    display: flex;
    margin: 10px 0;
    
    
  }

  .nav-link a{
    text-decoration: none;
      margin: 10px;
     
      color: #000000;
      
  }

  .nav-link a:hover{
      color: #D2691E;
      transition: .5s;
  }

  .nav-link:hover{
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    transition: all .4s;
}

